<div class="forgotpasswordSection">
	<div class="forgotpasswordContent">
	    <h2 class="heading forgotAlign">Forgot Password?</h2>
	    <form name="form" (ngSubmit)="f.form.valid && forgotPassword()" #f="ngForm" novalidate>
	        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
	            <label class="textStyle" for="username">Username</label>
	            <input type="text" class="form-control inputboxWidth" name="username" [(ngModel)]="model.username" #username="ngModel" required />
	      	    <div *ngIf="username_error" class="help-block">Mobile No. or Email Id is required</div>
	        </div>
	        <div class="form-group">
	        	<ui-button [buttonName]="'Back'" (onClick)="onBackButtonClick($event)"></ui-button>
	       		<ui-button [buttonName]="'Next'" (onClick)="onNextButtonClick($event)"></ui-button>
	            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
	        </div>
	        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
	    </form>
	</div>
</div>

<div class="otpSection">
	<div class="otpContent">
	    <h2 class="heading forgotAlign">One Time Password</h2>
	    <form name="form" (ngSubmit)="f.form.valid && otp()" #f="ngForm" novalidate>
	        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
	            <label class="textStyle" for="username">OTP </label>
	            <input type="text" class="form-control inputboxWidth" name="username" [(ngModel)]="model.username" #username="ngModel" required />
	      	    <div *ngIf="username_error" class="help-block">Mobile No. or Email Id is required</div>
	        </div>
	        <div class="form-group">
	        	<ui-button [buttonName]="'Resend OTP'" (onClick)="onButtonClick($event)"></ui-button>
				<ui-button [buttonName]="'Verify'" (onClick)="onButtonClick($event)"></ui-button>
	            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
	        </div>
	        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
	    </form>
	</div>
</div>