.loginMainContainer {
    width: 100% !important;
}
.loginContainer{
	 display: flex;
	 width: 100% !important;
}
.image{
	height:100%;
}
.loginLeftsideSection {
    width: 50%;
}
.loginRightsidesection {
    width: 50%;
}
.loginLeftContent {
    width: 50%;
    text-align:justify;
}
.loginRightContent{
	width: 50%;
}
.loginLeftsideSection:after {
   	content: "";
    background-color: rgba(142, 138, 138, 0.92);
    position: absolute;
    width: 1px;
    height: 270px;
    top: 32%;
    left: 50%;
    display: block;
}
.heading{
    font-size: 16px;
    font-weight: 400;
    margin-top: 9px;
    margin-bottom: 9px;
    color:#fff;
}
.textStyle{
	color: #d8d4d2;
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 12px;
}
.form-group {
    margin-bottom: 30px;
    margin-top: 30px;
}
.help-block {
    color: red;
    font-size: 12px;
}
.form-group label {
    width: 37%;
    display: inline-block;
}
.form-control.inputboxWidth {
    width: 60%;
}
.loginLeftsideSection ui-button {
    float: left;
}
.loginRightsidesection ui-button {
    float: right;
}
