.datepicker-container[_ngcontent-c14] .datepicker-calendar[_ngcontent-c14] .datepicker-calendar-container[_ngcontent-c14] {
    display: inline-block;
    width: 92% !important;
    padding: 10px;
    background: rgba(177, 181, 183, 0.77) !important;
}